<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">Zomato</a>
    </div>
    <div class="dropdown">
      <div class="form-group">
        <div class="input-group" style="width: 22%">
          <div class="map-icon"><span class="glyphicon glyphicon-map-marker"></span></div>
          <input type="text" class="form-control" data-toggle="dropdown" placeholder="Please Type a Location..." style="border-left: none !important;
          border-right: none !important;">
          <div class="down-icon"><span class="glyphicon glyphicon-chevron-down"></span></div>
          <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">jQuery</a></li>
            <li><a href="#">Bootstrap</a></li>
            <li><a href="#">Angular</a></li>
          </ul>
        </div>
        <div class="input-group" style="left: 10px; width: 30%">
          <div class="search-icon"><span class="glyphicon glyphicon-search"></span></div>
          <input type="text" class="form-control" data-toggle="dropdown"
            placeholder="Search for restaurants and cuisines..." style="border-left: none !important">
          <button class="btn btn-default">
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</div>